body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 450px; (register.php) */
    /* max-width: 400px; (login.pgp) */
    width: 100%;
}


h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.form-container p {
    margin-top: 20px;
    text-align: center;
}

.form-container a {
    color: #5cb85c;
    text-decoration: none;
    font-weight: bold;
}

.form-container a:hover {
    text-decoration: underline;
}


.form-container h2 {
    margin-top: 0;
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.checkbox-group {
    padding-left: 25px;
}

.checkbox-group label {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
    position: absolute;
    left: 0;
}
