*.yaml linguist-detectable=true
*.yaml linguist-language=YAML
*.yaml text
*.htaccess linguist-detectable=true
*.htaccess linguist-language=ApacheConf
*.htaccess text
*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.sql text
