*.yaml linguist-detectable=true
*.yaml linguist-language=YAML
*.yaml text
*.htaccess linguist-detectable=true
*.htaccess linguist-language=ApacheConf
*.htaccess text
Deep-Learning-Platform/detect.py linguist-detectable=false
Deep-Learning-Platform/models/** linguist-detectable=false
Deep-Learning-Platform/utils/** linguist-detectable=false
