RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# RewriteCond %{REQUEST_URI} !^/login$
# RewriteCond %{REQUEST_URI} !^/register$
# RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico)$ [NC]
# RewriteCond %{HTTP_COOKIE} !user_id
# RewriteRule ^ /login [L,R=302]

RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^save_medicine$ save_medicine.php [L]
RewriteRule ^cupboard$ cupboard.html [L]


RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php [NC]
RewriteRule ^index\.php$ / [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/login\.php [NC]
RewriteRule ^login\.php$ /login [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/register\.php [NC]
RewriteRule ^register\.php$ /register [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/logout\.php [NC]
RewriteRule ^logout\.php$ /logout [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/cupboard\.html [NC]
RewriteRule ^cupboard\.html$ /cupboard [R=301,L]

# When you use this code:
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/save_medicine\.php [NC] # save_medicine.php Getting error in json.parse
# RewriteRule ^save_medicine\.php$ /save_medicine [R=301,L] # save_medicine.php Getting error in json.parse
