        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
            padding: 20px;
            position: relative;
        }

        #inputContainerWrapper {
            display: none;
            justify-content: center;
            align-items: center;
            height: 20vh;
            font-family: Arial, sans-serif;
        }
        
        #inputContainer {
            text-align: center;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        input[type="temp"] {
            padding: 10px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
            font-size: 16px;
        }
        
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
        
        button:hover {
            background-color: #45a049;
        }
        
        .question {
            font-size: 18px;
            margin-bottom: 10px;
            width: 300px;
            position: absolute;
            color: blue;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        .doctorImage {
            margin: 40px auto;
        }

        #doctorImage {
            width: 150px;
            height: 150px;
        }

        .option {
            opacity: 0;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
            display: inline-block;
            color: #007bff;
            animation: fadeIn 2s forwards, fadeDown 1s forwards;
            transition: background-color 0.3s, transform 0.3s;
        }

        .option:hover {
            background-color: #e0e0e0;
        }

        .selected {
            background-color: #000e44;
            color: #fff;
            margin-top: 20px;
            animation: fadeIn 2s forwards, fadeDown 2s forwards, slideDown 2s forwards;
        }

        #selectedOptionText {
            margin-top: 20px;
            font-weight: bold;
            color: blue;
            opacity: 0;
            animation: fadeIn 2s forwards, fadeDown 2s forwards, slideDown 2s forwards;
        }

        .hidden {
            display: none;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes fadeDown {
            from { opacity: 0; transform: translateY(-20px); }
            to { opacity: 1; transform: translateY(0); }
        }

        @keyframes slideDown {
            from { transform: translateY(-20px); }
            to { transform: translateY(0); }
        }

        .dose-form {
            margin-top: 20px;
            text-align: left;
            width: 300px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
        }

        .dose-form label {
            display: block;
            margin-bottom: 10px;
        }

        .dose-form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .dose-form button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #228c22;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .dose-form button:hover {
            background-color: #000e44;
        }

        .dose-result {
            margin-top: 20px;
            font-weight: bold;
            color: #5cb85c;
        }
 
        .header {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }

        .button {
            font-size: 16px;
            color: #007bff;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            margin-left: 10px;
            transition: all 0.3s;
        }

        .button:hover {
            background-color: #e9ecef;
            color: #0056b3;
        }
